# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.envrc

# SQLite database files
*.sqlite
*.sqlite3

# Logs
*.log

# Test / coverage
.coverage
htmlcov/
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# IDE settings
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PEP 582
__pypackages__/

# Installer logs
pip-log.txt

# Mypy and pylint
.mypy_cache/
.dmypy.json
.pyre/

# PyInstaller
*.spec


workspace/